.loader{
    animation: bounce 10s cubic-bezier(0.075, 0.82, 0.165, 1) 0 infinite ;
  }
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-30px);
    }
  }