@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.Landing_page_btn{
  padding: 2px 10px;
  border-radius: 4px;
}
.img{
  background-image: url("./assets/great.jpeg");
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: antiquewhite;
}
#sliderImgWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  margin: 5px;
}
#sliderImg{
  display: flex;
}
#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
